* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
.container {
  margin: 50px auto;
  padding: 81px 53px 0 81px;
  max-width: 1250px;
  min-height: 90vh;
  background-color: #1abc9c;
}
